
<h1 style="text-decoration:underline;color:#30F;"align="center">Example for Inline CSS</h1>
<p style="font-family:Arial, Helvetica, sans-serif; align:left; color:#F00;">Cascading Style Sheet is a style language that defines layout of HTML documents.CSS properties such as background, border, font, float, display, margin, opacity, padding, text-align, vertical-align, position, color etc.</p>
<h2 align="left" style="color:#C0C;text-decoration:underline;">Image affected with styles</h2>
<h1 style="text-decoration:underline;color:#30F;"align="center">Example for Inline CSS</h1>
<p style="font-family:Arial, Helvetica, sans-serif; align:left; color:#F00;">Cascading Style Sheet is a style language that defines layout of HTML documents.CSS properties such as background, border, font, float, display, margin, opacity, padding, text-align, vertical-align, position, color etc.</p>
<h2 align="left" style="color:#C0C;text-decoration:underline;">Image affected with styles</h2>
<h2>HTML Table</h2>
<p>A table with CSS properties</p>
<table style="border-collapse: collapse;border: 1px solid #69899F;">
  <tr >
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product ID</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Name</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quality</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quantity</th>
  </tr>
  <tr>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">1</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Wheat</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>
  <tr >
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">2</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Rice</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">250 Bags</td>
  <tr style="padding:15px;border: 1px dotted black;color: #002F5E;">
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">3</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Sugar</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>  
</table>
<p>A table with CSS properties</p>
<table style="border-collapse: collapse;border: 1px solid #69899F;">
  <tr >
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product ID</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Name</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quality</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quantity</th>
  </tr>
  <tr>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">1</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Wheat</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>
  <tr >
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">2</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Rice</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">250 Bags</td>
  <tr style="padding:15px;border: 1px dotted black;color: #002F5E;">
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">3</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Sugar</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>  
</table>
<h1 style="text-decoration:underline;color:#30F;"align="center">Example for Inline CSS</h1>
<p style="font-family:Arial, Helvetica, sans-serif; align:left; color:#F00;">Cascading Style Sheet is a style language that defines layout of HTML documents.CSS properties such as background, border, font, float, display, margin, opacity, padding, text-align, vertical-align, position, color etc.</p>
<h2 align="left" style="color:#C0C;text-decoration:underline;">Image affected with styles</h2>
<h1 style="text-decoration:underline;color:#30F;"align="center">Example for Inline CSS</h1>
<p style="font-family:Arial, Helvetica, sans-serif; align:left; color:#F00;">Cascading Style Sheet is a style language that defines layout of HTML documents.CSS properties such as background, border, font, float, display, margin, opacity, padding, text-align, vertical-align, position, color etc.</p>
<h2 align="left" style="color:#C0C;text-decoration:underline;">Image affected with styles</h2>
<h1 style="text-decoration:underline;color:#30F;"align="center">Example for Inline CSS</h1>
<p style="font-family:Arial, Helvetica, sans-serif; align:left; color:#F00;">Cascading Style Sheet is a style language that defines layout of HTML documents.CSS properties such as background, border, font, float, display, margin, opacity, padding, text-align, vertical-align, position, color etc.</p>
<h2 align="left" style="color:#C0C;text-decoration:underline;">Image affected with styles</h2>
<h1 style="text-decoration:underline;color:#30F;"align="center">Example for Inline CSS</h1>
<p style="font-family:Arial, Helvetica, sans-serif; align:left; color:#F00;">Cascading Style Sheet is a style language that defines layout of HTML documents.CSS properties such as background, border, font, float, display, margin, opacity, padding, text-align, vertical-align, position, color etc.</p>
<h2 align="left" style="color:#C0C;text-decoration:underline;">Image affected with styles</h2>
<table style="border-collapse: collapse;border: 1px solid #69899F;">
  <tr >
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product ID</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Name</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quality</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quantity</th>
  </tr>
  <tr>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">1</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Wheat</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>
  <tr >
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">2</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Rice</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">250 Bags</td>
  <tr style="padding:15px;border: 1px dotted black;color: #002F5E;">
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">3</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Sugar</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>  
</table>
<table style="border-collapse: collapse;border: 1px solid #69899F;">
  <tr >
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product ID</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Name</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quality</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quantity</th>
  </tr>
  <tr>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">1</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Wheat</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>
  <tr >
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">2</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Rice</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">250 Bags</td>
  <tr style="padding:15px;border: 1px dotted black;color: #002F5E;">
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">3</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Sugar</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>  
</table>
<h1 style="text-decoration:underline;color:#30F;"align="center">Example for Inline CSS</h1>
<p style="font-family:Arial, Helvetica, sans-serif; align:left; color:#F00;">Cascading Style Sheet is a style language that defines layout of HTML documents.CSS properties such as background, border, font, float, display, margin, opacity, padding, text-align, vertical-align, position, color etc.</p>
<h2 align="left" style="color:#C0C;text-decoration:underline;">Image affected with styles</h2>
<h1 style="text-decoration:underline;color:#30F;"align="center">Example for Inline CSS</h1>
<p style="font-family:Arial, Helvetica, sans-serif; align:left; color:#F00;">Cascading Style Sheet is a style language that defines layout of HTML documents.CSS properties such as background, border, font, float, display, margin, opacity, padding, text-align, vertical-align, position, color etc.</p>
<h2 align="left" style="color:#C0C;text-decoration:underline;">Image affected with styles</h2>
<table style="border-collapse: collapse;border: 1px solid #69899F;">
  <tr >
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product ID</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Name</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quality</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quantity</th>
  </tr>
  <tr>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">1</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Wheat</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>
  <tr >
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">2</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Rice</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">250 Bags</td>
  <tr style="padding:15px;border: 1px dotted black;color: #002F5E;">
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">3</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Sugar</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>  
</table>
<table style="border-collapse: collapse;border: 1px solid #69899F;">
  <tr >
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product ID</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Name</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quality</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quantity</th>
  </tr>
  <tr>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">1</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Wheat</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>
  <tr >
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">2</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Rice</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">250 Bags</td>
  <tr style="padding:15px;border: 1px dotted black;color: #002F5E;">
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">3</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Sugar</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>  
</table>

<table style="border-collapse: collapse;border: 1px solid #69899F;">
  <tr >
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product ID</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Name</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quality</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quantity</th>
  </tr>
  <tr>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">1</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Wheat</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>
  <tr >
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">2</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Rice</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">250 Bags</td>
  <tr style="padding:15px;border: 1px dotted black;color: #002F5E;">
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">3</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Sugar</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>  
</table>
<h1 style="text-decoration:underline;color:#30F;"align="center">Example for Inline CSS</h1>
<p style="font-family:Arial, Helvetica, sans-serif; align:left; color:#F00;">Cascading Style Sheet is a style language that defines layout of HTML documents.CSS properties such as background, border, font, float, display, margin, opacity, padding, text-align, vertical-align, position, color etc.</p>
<h2 align="left" style="color:#C0C;text-decoration:underline;">Image affected with styles</h2>
<table style="border-collapse: collapse;border: 1px solid #69899F;">
  <tr >
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product ID</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Name</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quality</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quantity</th>
  </tr>
  <tr>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">1</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Wheat</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>
  <tr >
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">2</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Rice</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">250 Bags</td>
  <tr style="padding:15px;border: 1px dotted black;color: #002F5E;">
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">3</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Sugar</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>  
</table>
<h1 style="text-decoration:underline;color:#30F;"align="center">Example for Inline CSS</h1>
<p style="font-family:Arial, Helvetica, sans-serif; align:left; color:#F00;">Cascading Style Sheet is a style language that defines layout of HTML documents.CSS properties such as background, border, font, float, display, margin, opacity, padding, text-align, vertical-align, position, color etc.</p>
<h2 align="left" style="color:#C0C;text-decoration:underline;">Image affected with styles</h2>
<table style="border-collapse: collapse;border: 1px solid #69899F;">
  <tr >
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product ID</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Name</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quality</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quantity</th>
  </tr>
  <tr>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">1</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Wheat</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>
  <tr >
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">2</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Rice</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">250 Bags</td>
  <tr style="padding:15px;border: 1px dotted black;color: #002F5E;">
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">3</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Sugar</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>  
</table><h1 style="text-decoration:underline;color:#30F;"align="center">Example for Inline CSS</h1>
<p style="font-family:Arial, Helvetica, sans-serif; align:left; color:#F00;">Cascading Style Sheet is a style language that defines layout of HTML documents.CSS properties such as background, border, font, float, display, margin, opacity, padding, text-align, vertical-align, position, color etc.</p>
<h2 align="left" style="color:#C0C;text-decoration:underline;">Image affected with styles</h2>
<table style="border-collapse: collapse;border: 1px solid #69899F;">
  <tr >
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product ID</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Name</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quality</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quantity</th>
  </tr>
  <tr>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">1</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Wheat</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>
  <tr >
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">2</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Rice</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">250 Bags</td>
  <tr style="padding:15px;border: 1px dotted black;color: #002F5E;">
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">3</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Sugar</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>  
</table>
<h1 style="text-decoration:underline;color:#30F;"align="center">Example for Inline CSS</h1>
<p style="font-family:Arial, Helvetica, sans-serif; align:left; color:#F00;">Cascading Style Sheet is a style language that defines layout of HTML documents.CSS properties such as background, border, font, float, display, margin, opacity, padding, text-align, vertical-align, position, color etc.</p>
<h2 align="left" style="color:#C0C;text-decoration:underline;">Image affected with styles</h2>
<table style="border-collapse: collapse;border: 1px solid #69899F;">
  <tr >
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product ID</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Name</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quality</th>
      <th style="border: 2px solid #69899F;color: #3E5260;padding:10px;">Product Quantity</th>
  </tr>
  <tr>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">1</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Wheat</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>
  <tr >
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">2</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Rice</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">250 Bags</td>
  <tr style="padding:15px;border: 1px dotted black;color: #002F5E;">
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">3</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Sugar</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">Good</td>
      <td style="padding:15px;border: 1px dotted black;color: #002F5E;">200 Bags</td>
  </tr>  
</table>
